@use "sass:map";
@use "sass:color";
@use '@picocss/pico/scss/colors' as colors;
@use '@picocss/pico/scss/pico' with (
  $theme-color: 'slate',

  $modules: map.merge(
    // false by default
    (
      // Theme
      "themes/default": false,

      // Layout
      "layout/document": false,
      "layout/landmarks": false,
      "layout/container": false,
      "layout/section": false,
      "layout/grid": false,
      "layout/overflow-auto": false,

      // Content
      "content/link": false,
      "content/typography": false,
      "content/embedded": false,
      "content/button": false,
      "content/table": false,
      "content/code": false,
      "content/figure": false,
      "content/misc": false,

      // Forms
      "forms/basics": false,
      "forms/checkbox-radio-switch": false,
      "forms/input-color": false,
      "forms/input-date": false,
      "forms/input-file": false,
      "forms/input-range": false,
      "forms/input-search": false,

      // Components
      "components/accordion": false,
      "components/card": false,
      "components/dropdown": false,
      "components/group": false,
      "components/loading": false,
      "components/modal": false,
      "components/nav": false,
      "components/progress": false,
      "components/tooltip": false,

      // Utilities
      "utilities/accessibility": false,
      "utilities/reduce-motion": false
    ),
    // un-comment to include
    (
      // Theme
      "themes/default": true,

      // Layout
      "layout/document": true,
      //"layout/landmarks": true,
      //"layout/container": true,
      "layout/section": true,
      "layout/grid": true,
      //"layout/overflow-auto": true,

      // Content
      //"content/link": true,
      "content/typography": true,
      //"content/embedded": true,
      "content/button": true,
      //"content/table": true,
      //"content/code": true,
      //"content/figure": true,
      //"content/misc": true,

      // Forms
      "forms/basics": true,
      //"forms/checkbox-radio-switch": true,
      //"forms/input-color": true,
      //"forms/input-date": true,
      //"forms/input-file": true,
      //"forms/input-range": true,
      //"forms/input-search": true,

       //Components
      //"components/accordion": true,
      "components/card": true,
      //"components/dropdown": true,
      //"components/group": true,
      //"components/loading": true,
      //"components/modal": true,
      //"components/nav": true,
      //"components/progress": true,
      "components/tooltip": true,

      // Utilities
      "utilities/accessibility": true,
      "utilities/reduce-motion": true
    )
  )
);

:root {
  //--pico-font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --pico-font-family-sans-serif: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
  //--pico-font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace, var(--pico-font-family-emoji);
  //--pico-font-family: var(--pico-font-family-sans-serif);
  //--pico-line-height: 1.5;
  //--pico-font-weight: 400;
  --pico-font-size: 95%;
  //--pico-text-underline-offset: 0.1rem;
  //--pico-border-radius: 0.25rem;
  //--pico-border-width: 0.0625rem;
  //--pico-outline-width: 0.125rem;
  //--pico-transition: 0.2s ease-in-out;
  --pico-spacing: 0.5rem;
  //--pico-typography-spacing-vertical: 1rem;
  //--pico-block-spacing-vertical: var(--pico-spacing);
  //--pico-block-spacing-horizontal: var(--pico-spacing);
  //--pico-grid-column-gap: var(--pico-spacing);
  //--pico-grid-row-gap: var(--pico-spacing);
  --pico-form-element-spacing-vertical: 0.25rem;
  --pico-form-element-spacing-horizontal: 0.5rem;
  //--pico-group-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  //--pico-group-box-shadow-focus-with-button: 0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
  //--pico-group-box-shadow-focus-with-input: 0 0 0 0.0625rem var(--pico-form-element-border-color);
  //--pico-modal-overlay-backdrop-filter: blur(0.375rem);
  //--pico-nav-element-spacing-vertical: 1rem;
  //--pico-nav-element-spacing-horizontal: 0.5rem;
  //--pico-nav-link-spacing-vertical: 0.5rem;
  //--pico-nav-link-spacing-horizontal: 0.5rem;
  //--pico-nav-breadcrumb-divider: ">";
  //--pico-icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  //--pico-icon-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
  //--pico-icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  //--pico-icon-date: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
  //--pico-icon-time: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 6 12 12 16 14'%3E%3C/polyline%3E%3C/svg%3E");
  //--pico-icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
  //--pico-icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(136, 145, 164)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  //--pico-icon-loading: url("data:image/svg+xml,%3Csvg fill='none' height='24' width='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' %3E%3Cstyle%3E g %7B animation: rotate 2s linear infinite; transform-origin: center center; %7D circle %7B stroke-dasharray: 75,100; stroke-dashoffset: -5; animation: dash 1.5s ease-in-out infinite; stroke-linecap: round; %7D @keyframes rotate %7B 0%25 %7B transform: rotate(0deg); %7D 100%25 %7B transform: rotate(360deg); %7D %7D @keyframes dash %7B 0%25 %7B stroke-dasharray: 1,100; stroke-dashoffset: 0; %7D 50%25 %7B stroke-dasharray: 44.5,100; stroke-dashoffset: -17.5; %7D 100%25 %7B stroke-dasharray: 44.5,100; stroke-dashoffset: -62; %7D %7D %3C/style%3E%3Cg%3E%3Ccircle cx='12' cy='12' r='10' fill='none' stroke='rgb(136, 145, 164)' stroke-width='4' /%3E%3C/g%3E%3C/svg%3E");
  $css-var-prefix: '--pico-';
  #{$css-var-prefix}card-background-color: #{color.adjust(colors.$slate-900, $lightness: 5%)};
  //#{$css-var-prefix}card-border-color: var(#{$css-var-prefix}card-background-color);
  //#{$css-var-prefix}card-box-shadow: var(#{$css-var-prefix}box-shadow);
  //#{$css-var-prefix}card-sectioning-background-color: #{color.mix($slate-900, $slate-850, 75%)};
}


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

html,
body,
#app,
#pixi-app,
canvas {
  touch-action: none !important;
}

label {
  font-size: 12px;
  padding-left: var(--pico-form-element-spacing-horizontal);
  color: color.adjust(cyan, $lightness: 20%, $saturation: -50%);
}

.btn-label {
  padding: var(--pico-form-element-spacing-vertical) 0;
}

[data-tooltip]:not(a, button, input, [role=button]) {
  cursor: pointer;
  border-bottom: 0;
}

.no-wrap {
  white-space: nowrap;
}

.controls {
  .section {
    padding-left: var(--pico-form-element-spacing-horizontal);
    padding-right: var(--pico-form-element-spacing-horizontal);

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  article {
    .sub-heading {
      padding-left: var(--pico-form-element-spacing-horizontal);
      padding-right: var(--pico-form-element-spacing-horizontal);
      font-weight: bold;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    .pad {
      padding-left: var(--pico-form-element-spacing-horizontal);
      padding-right: var(--pico-form-element-spacing-horizontal);
    }
    .section {
      margin-right: calc(var(--pico-block-spacing-horizontal) * -1);
      margin-left: calc(var(--pico-block-spacing-horizontal) * -1);
      padding: 0 var(--pico-block-spacing-horizontal);

      &:not(:last-child) {
        border-bottom: 1px solid color-mix(in srgb, var(--pico-color), transparent 80%);
        margin-bottom: 0.5rem;
      }
    }
  }

  button {
    font-size: 12px;
    padding: calc(var(--pico-form-element-spacing-vertical) * 0.5) calc(var(--pico-form-element-spacing-horizontal) * 0.5);
  }

  header {
    padding-left: calc(var(--pico-form-element-spacing-horizontal) * 2);
  }
}